.page-footer {
  background-image: linear-gradient(rgba(27, 27, 27, 0.8), rgba(27, 27, 27, 0.8)), url('../images/footer/cont.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  // background-position: center top;
  text-align: center;
  color: $color-white;
  // min-height: 750px;
  width: 100%;
  clip-path: polygon(100% 9%, 100% 100%, 50% 100%, 0% 100%, 0% 9%, 50% 28%);
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .page-footer {
    background-image: url('../images/footer/cont@2x.jpg');
    background-repeat: no-repeat;
  }
}

.footer {
  padding-top: 269px;
  padding-bottom: 75px;
}

.footer-title {
  @extend %title-section-white;
  margin-bottom: 22px;
}

.footer-text {
  @extend %text-section;
  font-weight: 300;
  margin-bottom: 65px;
}

.footer__list {
  list-style: none;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  margin-bottom: 86px;
}

.footer__link {
  color: $color-white;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  margin-bottom: 14px;
}

.link__text {
  font-size: 15px;
}

.icon1::before {
  display: block;
  margin: 0 auto;
  content: '';
  width: 60px;
  height: 60px;
  background-image: url('../images/footer/footer-icon1.png');
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 18px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .icon1::before  {
    background-image: url('../images/footer/footer-icon1@2x.png');
    background-repeat: no-repeat;
  }
}

.icon2::before {
  display: block;
  margin: 0 auto;
  content: '';
  width: 60px;
  height: 60px;
  background-image: url('../images/footer/footer-icon2.png');
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 18px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .icon2::before  {
    background-image: url('../images/footer/footer-icon2@2x.png');
    background-repeat: no-repeat;
  }
}

.icon3::before {
  display: block;
  margin: 0 auto;
  content: '';
  width: 60px;
  height: 60px;
  background-image: url('../images/footer/footer-icon3.png');
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 18px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .icon3::before  {
    background-image: url('../images/footer/footer-icon3@2x.png');
    background-repeat: no-repeat;
  }
}

.icon4::before {
  display: block;
  margin: 0 auto;
  content: '';
  width: 60px;
  height: 60px;
  background-image: url('../images/footer/footer-icon4.png');
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 18px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .icon4::before  {
    background-image: url('../images/footer/footer-icon4@2x.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.footer-final-text {
  font-size: 15px;
  line-height: 1.2;
  font-weight: normal;
}

@media (max-width: 767px) {
  .footer__list {
    flex-direction: column;
  }

  .page-footer {
    clip-path: polygon(100% 0%, 100% 100%, 50% 100%, 0% 100%, 0% 0%, 50% 6%);
  }

  .footer {
    padding-top: 90px;
  }

  .footer__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
