.header {
  margin: 0 auto;
  background-image: url('../Images/Images/Sep-bot-min.jpg');
  background-repeat: no-repeat;
  width: 100%;
  height: 960px;
  background-size: cover;
  background-position: center bottom;
  text-align: center;
  padding-top: 50px;
  position: relative;
}

// @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
//   .header {
//     background: url(../img/header_bg@2x.jpg) no-repeat;
//   }
// }

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  margin-bottom: 250px;
}

.nav__list {
  width: 487px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.nav__list a {
  color: $color-white;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  font-weight: 400;
}

.white-logo {
  position: relative;
}

.logo-span::before {
  content: 'Arrow';
  display: flex;
  // align-items: flex-end;
  padding-top: 4.6rem;
  justify-content: center;
  width: 108px;
  height: 86px;
  background-image: url('../Images/Icons/white\ icon.png');
  background-repeat: no-repeat;
  margin: 0 auto;
  // position: absolute;
  // margin-top: 10px;
}

.logo-span {
  font-size: 25px;
}

.logo-text {
  font-size: 18px;
  line-height: 1.2;
  color: $color-white;
  width: 700px;
  margin: auto;
  margin-bottom: 34px;
}

.header__button-first {
  background-color: transparent;
  color: $color-white;
  border: 3px solid $color-white;
  font-size: 15px;
  font-weight: 700;
  border-radius: 5px;
  width: 156px;
  height: 40px;
  margin-bottom: 228px;
}

.header__button-second {
  background-color: transparent;
  text-transform: uppercase;
  color: $color-white;
  border: none;
  font-size: 15px;
  padding-top: 40px;
  position: relative;
}

.header__button-second::before {
  content: '';
  width: 32px;
  height: 40px;
  background-image: url('../Images/Icons/mouse_scrolling-50.png');
  background-repeat: no-repeat;
  background: cover;
  position: absolute;
  top: -20%;
  left: 50%;
  transform: translateX(-50%);
}
