.wrapper {
  background-color: rgb(175, 62, 62);
}

.offices-section {
  background: #fafcfe;
}
.offices {
  width: 100%;
  min-height: 960px;
  background-color: rgb(95, 59, 59);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Images/hero-03.jpg");
  clip-path: polygon(100% 0, 100% 79%, 50% 100%, 0 79%, 0 0, 50% 21%);
  background-repeat: no-repeat;
  background-size: cover, auto;
  background-position: center, center 446px;
  padding: 274px 0;
}

.map {
  background-image: url("../Images/World_atlas.png");
  width: 750px;
  height: 353px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  padding-bottom: 147px;
  // margin-bottom: 50px;
}

.offices__title {
  @extend %title-section-white;
    // margin-top: 274px;
  // padding-top: 274px;
  margin-bottom: 24px;
}

.offices__txt {
  @extend %text-section;
  color: $color-white;
  margin-bottom: 64px;
}
